
html,body{
    font-family: 'thsarabun','garuda'; /* thsarabun */
}


.form-name{
    height: 45px;
    border-radius: 4px;
    border:1px;
    border-color:  #999;
    border-style:  solid;
    background: #e0ffff;
    text-align: center;
    border-radius: 6px;
    width: 230px;
    float: right;
}
.form-name-title{ font-size: 12pt; letter-spacing: 0px;}
.form-name-sub-title{ font-size: 11pt;  letter-spacing: 0px;}


table { width:100%; padding:0px; margin:0px;}
table tr th {text-align: center; background: #e0ffff;  vertical-align: top;}
table tr td { vertical-align: top; padding:0px;  border-collapse:collapse;}
img { vertical-align: middle; }

/*border:1px; border-color:  #5b5b5b; border-style:  solid;*/

.table-border{
    border:1px;
    border-color:  #5b5b5b;
    border-style:  solid;
    border-collapse: collapse;
}
.table-border tr td{
    border:1px;
    border-color:  #5b5b5b;
    border-style:  solid;
}

.event_title{ font-size: 9pt; letter-spacing: 0px;}
.event_sub_title{ font-size: 8pt;  letter-spacing: 0px;}
.receipt-sub-title{ font-size: 9pt; font-weight:normal;  letter-spacing: 0px;}
/*-------------*/
