.tag_open a{
  padding: 5px !important;
}
.form-btn .btn{
  margin: 5px !important;
  padding: 10px !important;
  width: 150px;
  font-size: 18px !important;
}
.form-group.form-btn{
  overflow: hidden;
}
