.theme-blue .navbar{background-color:#1976D2}.theme-blue .navbar-brand{color:#fff}.theme-blue .navbar-brand:hover{color:#fff}.theme-blue .navbar-brand:active{color:#fff}.theme-blue .navbar-brand:focus{color:#fff}.theme-blue .nav>li>a{color:#fff}.theme-blue .nav>li>a:hover{background-color:transparent}.theme-blue .nav>li>a:focus{background-color:transparent}.theme-blue .nav .open>a{background-color:transparent}.theme-blue .nav .open>a:hover{background-color:transparent}.theme-blue .nav .open>a:focus{background-color:transparent}.theme-blue .bars{color:#fff}.theme-blue .sidebar .menu .list a:hover,.theme-blue .sidebar .menu .list a:active,.theme-blue .sidebar .menu .list a:focus{background-color:#d6e8fa;color:#1976D2}.theme-blue .sidebar .menu .list a:hover i,.theme-blue .sidebar .menu .list a:hover span,.theme-blue .sidebar .menu .list a:active i,.theme-blue .sidebar .menu .list a:active span,.theme-blue .sidebar .menu .list a:focus i,.theme-blue .sidebar .menu .list a:focus span{color:#1976D2}.theme-blue .sidebar .menu .list li.active{background-color:#edf5fd}.theme-blue .sidebar .menu .list li.active>:first-child i,.theme-blue .sidebar .menu .list li.active>:first-child span{color:#1976D2}.theme-blue .sidebar .menu .list .toggled{background-color:transparent}.theme-blue .sidebar .menu .list .ml-menu{background-color:transparent}.theme-blue .sidebar .legal{background-color:#fff}.theme-blue .sidebar .legal .copyright a{color:#1976D2 !important}.required{color:red}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination span.curlink {
  background-color: #1f91f3;
  color: #fff;
  border: 1px solid #1f91f3;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.eventsummary{   
   font-size: 18px;
  color: #001512;
}
.eventsummary_box{
  border-right-width: 2px;
  border-right-color: #001512;
  border-right-style: solid;
}
.eventsummary_left{
  padding-left: 20px;
}